<!DOCTYPE html>
<html>
<head>
    <title>Create Ride</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="ride-form">

    <div class="ride-tabs">
        <a href="/find_ride">Find Ride</a>
        <a class="active-tab">Offer Ride</a>
    </div>

    <form action="/create_ride" method="POST">

        <label>Start Location</label>
        <input type="text"
               name="pickup"
               placeholder="Sector 4 Office Tower">

        <label>Destination</label>
        <input type="text"
               name="drop"
               placeholder="Downtown Commuter Hub">

        <div class="two-fields">

            <div>
                <label>Date & Time</label>

                <input
                type="datetime-local"
                name="datetime">
            </div>

            <div>
                <label>Available Seats</label>

                <input
                type="number"
                name="seats"
                placeholder="1">
            </div>

        </div>

        <label>Fare Per Seat</label>

        <input
        type="number"
        name="fare"
        placeholder="120">

        <button>
            Publish Ride
        </button>

    </form>

</div>

</body>
</html>