<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<h1>Employee Dashboard</h1>

<div class="cards">

<div class="card">Create Ride</div>

<div class="card">Find Ride</div>

<div class="card">My Bookings</div>

<div class="card">Ride History</div>

<div class="card">Emergency SOS</div>

<div class="card">Logout</div>

<a href="/logout">
    <button>Logout</button>
</a>

</div>

</body>

</html>