<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<h1>Employee Dashboard</h1>

<div class="cards">

<div class="card">Create Ride</div>

<div class="card">Find Ride</div>

<div class="card">My Bookings</div>

<div class="card">Ride History</div>

<div class="card">Emergency SOS</div>

<div class="card">Logout</div>

<a href="/logout">
    <button>Logout</button>
</a>

<a href="/find_ride">
    <button>Find Ride</button>
</a>

<div class="dashboard-container">

    <a href="/create_ride" class="card">
        <h2>🚗</h2>
        <h3>Create Ride</h3>
        <p>Offer a ride to colleagues.</p>
    </a>

    <a href="/find_ride" class="card">
        <h2>🔍</h2>
        <h3>Find Ride</h3>
        <p>Search available rides.</p>
    </a>

    <a href="/my_bookings" class="card">
        <h2>📖</h2>
        <h3>My Bookings</h3>
        <p>View your booked rides.</p>
    </a>

    <a href="/commute_buddy" class="card">
        <h2>👥</h2>
        <h3>Commute Buddy</h3>
        <p>Find employees travelling the same route.</p>
    </a>

    <a href="/sos" class="card">
        <h2>🚨</h2>
        <h3>Emergency SOS</h3>
        <p>Send emergency alert.</p>
    </a>

    <a href="/profile" class="card">
        <h2>👤</h2>
        <h3>Profile</h3>
        <p>View and edit profile.</p>
    </a>

</div>

</body>

</html>